body{
    margin: 0;
    padding: 0;
    background-color: grey;
    /* margin: auto; */
}

@media all and(max-width:480px){
    #texteCentral{float: none;}
    #pseudo{float: none;}
    #mdp{float: none;}
    input{float: none;}
    button{float: none;}
}

#texteCentral{
    width: 500px;
    /* display: inline-block;
    overflow: auto; */
    background-color: rgb(0, 0, 0,0.4);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 20%;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 200px; */
    margin-top: 13%;
    /* margin-top: 50%; */
    /* margin: auto; */
    margin-left: 30%;
    
}

#pseudo{
text-align: center;
}

#mdp{
text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline:none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}

button{
    background-color: greenyellow;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}

