
body{
    margin: 0;
    padding: 0;
    background-color: grey;
    margin: auto;
    height: 100%;
    overflow-x:hidden;  

}

@media all and(max-width:480px){
    #texteCentral{float: none;}
    #pseudo{float: none;}
    #mdp{float: none;}
    input{float: none;}
    button{float: none;}
}

#texteCentral{
    width: 500px;
  
    background-color: rgb(0, 0, 0,0.4);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 20%;
    justify-content: center;
 
    margin-top: 15%;
    margin-left: 34%;
    
}

#pseudo{
text-align: center;
}

#mdp{
text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline:none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}

button{
    background-color: greenyellow;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}


footer{
    width: 100%;
    
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: rgb(25 41 75 / 75%);
    }
    
    #gauche{
        color: white;
        
        margin-left: 30px;
        
        
    }  
    
    #droite{   
        color: white;
     
        margin-left: 1300px;
        text-align: right;
        
    }
