html{
    position: relative;
     min-height: 100%;
   } 
   
   body{
    margin: 0;
    padding: 0;
    background-color: grey;
    margin: auto; 
    overflow-y: hidden;
    overflow-x: hidden; 
}

   

@media screen and (max-width:800px){

    h1{
        width: 100%;
        margin-left: 50%;
        text-align: center;
    }
    #imageFfe{
        
        
        margin-left: 600px;
    }
    .tableau{ 
        
        
        margin-left: 300px;

        
    }
    .tableauGlobal{
        flex-direction: column;
        height: auto;
        display: block;
        
    }
    .questionnaire{
        flex-direction: column;
        height: auto;
        
    }

    .informations{
    flex-direction: column;
        height: auto;
        
    }

    .renseignements{
        flex-direction: column;
        height: auto;
    }

    .envoyer{
        margin-left: 300px;

    }

    #duel{
        display: none;
    }
    footer{
        display: flex;
        margin-top: auto;
    }
    #gauche{
        float: none;
    }
    #droite{
        float: none;
    }
}

h1{
    color: blue;
    text-align: center;
}

#imageFfe{
    margin-left: 43%;
}

.tableau{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    text-transform: uppercase;
    justify-content: space-evenly;  
    width: 100%;
}

#sexe{
    background-color: aqua;
    color: black;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    border: solid black 2px;
    height: 20px;
}

a{
    text-decoration: none;
    color: black;
}

nav ul.tableau li.btn:hover a{
    color: black;
    background-color: rgb(25 41 75 / 75%);
    transition: 0.20 all;
}

li .navbar a{
    text-decoration: none;
    list-style-type: none;
}

.questionnaire{
    text-align: center;
    margin-left: 45%; 
    position: relative;
    text-transform: uppercase; 
}

.tableauGlobal{  
    margin-left: 14%;
}

.renseignements{
    background-color: aqua;
    color: black;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    border: solid black 2px;
    height: 15px;
}

button{
    background-color: greenyellow;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    margin: auto;
    margin-top: 2%;
}

#duel{
   margin-top: 2%;
   margin-left: 20%;
}

footer{
    bottom: 0;
    display: flex;
    background-color: rgb(25 41 75 / 75%);
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
    
#gauche{
    color: white;
    margin-left: 5%;
}  
    
#droite{   
    color: white;  
    margin-left: 80%;
    text-align: right;  
}